@import '../../styles/settings.scss';


.menu {
    display: flex;
    flex-direction: column;
    width: 1340px;
    margin: 50px auto;
    padding: 50px 12px;
    align-items: center;
}
.menu__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    &-top {
        @include button-styles;
    }
    &-bottom {
        @include header-styles;
        text-align: center;
        span {
            color: $accent-color;
        }
    }
    &-categories {
        margin-top: 50px;
        display: flex;
        gap: 20px;
       
        span {
            font-family: $heading-font;
            color: $default-color;
            cursor: pointer;
            transition: color 0.3s ease-in-out;
            &:hover {
                color: $accent-color;
            }
            &.active {
                color: $accent-color;
            }
        }
    }
}
.menu__items {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
   
   
    
    
}
.menu__item {
    max-width: 600px;
    display: flex;
    margin-top: 30px;
    gap: 30px;
    opacity: 1;
    transform: scale(1);
    transition: transform 1s ease-out, opacity 1s ease-in-out;
    &.hidden {
        opacity: 0;
        transform: scale(0);
      }
    
    &-image {
       img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 7px solid #ECECEC;
       }
    }
    &-description {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 450px;
        h5 {
            color: $heading-color;
            font-size: 16px;
            
        }
        p {
            color: $default-color;
            font-style: italic;
            font-size: 14px;
        }
    }
    &-price {
        color: $accent-color;
        font-weight: 500;
        margin-left: 50px;
    }
}



@media(max-width: 1340px) {
    .menu {
        width: 100%;
    }
    .menu__items {
        flex-direction: column;
        width: 100%;

    }
    .menu__item {
        width: 750px;
        max-width: 750px;
       
        justify-content: space-between;
        &-price {
            margin-left: auto;
            
        }
        &-description {
            width: auto; 
        }
        
    }
}

@media(max-width: 750px) {
    .menu__item {
        max-width: 750px;
        width: 100%;
    }
}