$background-color: #ffffff;
$default-color: #444444;
$heading-color: #433f39;
$accent-color: #ffb03b;
$surface-color: #42301c;

$default-font: "Roboto", sans-serif;
$heading-font: "Satisfy", sans-serif;
$nav-font: "Poppins", sans-serif;