@import '../../styles/settings.scss';

.footer {
    width: 100%;
    background-color: #1E160D;
    color: $background-color;
    margin-top: 50px;
}

.footer__container {
    width: 1340px;
    margin: 0 auto;
}

.footer__items {
    display: flex;
    justify-content: space-between;
    padding: 50px 12px;
}

.footer__item {
    display: flex;
    gap: 15px;
    &-icon {
        color: $accent-color;
        font-size: 22px;
    }
    &-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        p {
            font-size: 14px;
            span {
                font-weight: 500;
            }
        }
    }
    &-header {
        font-size: 16px;
        font-family: $heading-font;
        margin-bottom: 15px;
    }
}
.footer__item {
    &--socials {
        display: flex;
        flex-direction: column;
    }
}
.footer__media {
    display: flex;
    gap: 10px;
    &-icon {
        font-size: 30px;
        color: $default-color;
        cursor: pointer;
        transition: color 0.3s ease-in;
        &:hover {
            color: $accent-color;
        }
    }
}

.return__button {
    width: 40px;
    height: 40px;
    background-color: $accent-color;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    &.show {
        opacity: 1;
    }
}



@media (max-width: 1340px){
    .footer__container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .footer__items {
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }
    .footer__item {
        width: 45%;
        justify-content: center;
        &--socials {
            align-items: center;
        }
    }
}

@media (min-width: 320px) and (max-width: 575px) {
    .footer__items {
        flex-direction: column;
    }
    .footer__item {
        width: 100%;
    }
}