@import '../../styles/settings.scss';

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    color: $background-color; 
    
   
}

.nav__upper {
    background-color: rgba(0,0,0,1);
    display: flex;
    justify-content: space-between;
    padding: 10px 300px;
    transition: background-color 0.3s ease-in-out;
    &.scrolled {
        background-color: transparent;
    }

}
.nav__contact {
    display: flex;
    gap: 20px;
    align-items: center;
    &-phone {
        display: flex;
        gap: 10px;
        .icon {
            color: $accent-color;
        }
    }
    &-open {
        display: flex;
        gap: 10px;
        .icon {
            color: $accent-color;
        }
    }
}
.nav__button {
    button {
        color: $background-color;
        background-color: $accent-color;
        padding: 10px 40px;
        font-weight: 700;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: hsl(36, 75%, 49%);
        }
    }
}
.nav__lower {
    background-color: rgba(0,0,0, 0.8);
    color: $background-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 300px;
    transition: background-color 0.3s ease-in-out;
    &.scrolled {
        background-color: transparent;
    }
}
.nav__title {
    font-family: $heading-font;
}
.nav__list {
    display: flex;
}
.nav__hamburger {
    opacity: 1;
    position: absolute;
    top: 5px;
    right: -100%;
    width: 99%;
    background-color: $background-color;
    color: $default-color;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease-in-out; 
    
    &.popup {
        right: 5px;
        
    }
    &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: -10;
    }
    &-icon {
        font-size: 28px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: $accent-color;
            transform: scale(1.1);
        }
    }
}

.nav__items {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 18px;
    &-item {
        list-style-type: none;
        font-weight: 500;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
        &.active {
            color: $accent-color;
        }
        &:hover {
            color: $accent-color;
        }
    }
}

.nav__links {
    display: flex;
    gap: 40px;
    &-link {
        list-style-type: none;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
        font-size: 14px;
        &.active {
            color: $accent-color;
        }
        
      &:hover {
        color: $accent-color;
      }
    }
}




@media (max-width: 1340px) {
    .nav__contact {
        display: none;
    }
    .nav__links {
        display: none;
        max-width: 1000px;
    }
    .nav__upper, .nav__lower {
        padding: 10px 20px;
        width: 100%; 
        box-sizing: border-box; 
        
    }
}

@media (min-width: 1340px ) {
    .nav__hamburger-icon--open {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav__hamburger {
        width: 98%;
    }
}

