@import '../../styles/settings.scss';

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    color: $background-color; 
   
}

.nav__upper {
    background-color: rgba(0,0,0,1);
    display: flex;
    justify-content: space-between;
    padding: 10px 300px;
    transition: background-color 0.3s ease-in-out;
    &.scrolled {
        background-color: transparent;
    }

}
.nav__contact {
    display: flex;
    gap: 20px;
    align-items: center;
    &-phone {
        display: flex;
        gap: 10px;
        .icon {
            color: $accent-color;
        }
    }
    &-open {
        display: flex;
        gap: 10px;
        .icon {
            color: $accent-color;
        }
    }
}
.nav__button {
    button {
        color: $background-color;
        background-color: $accent-color;
        padding: 10px 40px;
        font-weight: 700;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: hsl(36, 75%, 49%);
        }
    }
}
.nav__lower {
    background-color: rgba(0,0,0, 0.8);
    color: $background-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 300px;
    transition: background-color 0.3s ease-in-out;
    &.scrolled {
        background-color: transparent;
    }
}
.nav__title {
    font-family: $heading-font;
}

.nav__links {
    display: flex;
    gap: 40px;
    &-link {
        list-style-type: none;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
        font-size: 14px;
        &.active {
            color: $accent-color;
        }
        
      &:hover {
        color: $accent-color;
      }
    }
}